.containerSide{
    display: flex;
    flex-direction: column;
    width: 10%;
    border: 2px;
   margin-right: 5%;
   padding: 2%;
   border-radius: 10px;
   background-color: #122932;
   color: antiquewhite;
}

.container {
    display: flex;
    padding: 1%;
    border: 2px;
    width:100%;
    height: fit-content;
    border-radius: 10px;

}

.containerArticle {
    display: flex;
  width: fit-content;
   height: fit-content;
    border: 2px;
    margin: 2%;
    border-radius: 10px;
    background-color: #122932;
    color: antiquewhite;

}



.containerContent {
    display: flex;
    width: 100%;
    height: fit-content;
    border: 2px;
    flex-direction: column;
    margin-right: 1%;
    border-radius: 10px;

}

div{
    padding: 2%;
    border: 1px;
    margin: 2%;
    width: 60%;
    height: 30%;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    border-radius: 10px;
    
}

a {
    padding: 2%;
    border: 1px;
    margin: 2%;
    max-width: 65%;
    max-height: fit-content;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    border-radius: 10px;
    color: antiquewhite;

}
    td, table {
        border-collapse:collapse;
        padding:30px; 
        border: 2px ;
        margin-bottom: 2%;
        padding: 2%;
        background-color: #122932;
    color: antiquewhite;
        
    }
    .name {
        width:20px
    }

    * {
    font-family: 'Trebuchet MS', sans-serif;
    }

.img {
    margin-top: 6%;
    height: 10%;
    width: 10%;
}

.img2 {
    margin-top: 5%;
    margin-right: 15%;
    height: 10%;
    width: 10%;
}

footer { 
    border: 2px;
    width:90%;
    height: fit-content;
    padding: 2%;
    border-radius: 10px;
}

h1, h2{
    border: 2px;
    border-radius: 10px;
    width: fit-content;
    background-color: #122932;
    color: antiquewhite;
}

body {
    background-color: #B2BCAA;
}

a:hover{
    background-color: #4C212A;
}

